server {
  listen 80;
  listen [::]:80;
  listen 443 default_server ssl;
  listen [::]:443 default_server ssl;
  
  ssl_certificate /etc/pki/ca-trust/source/anchors/{{ inventory_hostname }}.pem;
  ssl_certificate_key /etc/pki/ca-trust/source/anchors/{{ inventory_hostname }}-key.pem;

  root {{ document_root }}/{{ app_root }};
  index group-reg.php;

  server_name {{ server_name }};

  # Serving static files directly from Nginx without passing through uwsgi 
  location /app/favicon/ {
       alias {{project_path}}/app/favicon/;
  }

  location /.well-known/acme-challenge/ {
      root {{project_path}};
  }

  location ~ \.php$ {
	include fastcgi_params;
	include fastcgi.conf;
	fastcgi_pass {{ phpserver }}:9000;
  }
  
  location / {
   default_type "text/html";
   try_files $uri.html $uri $uri/ =404;
  }
}
