server {
  listen 80;
  listen [::]:80;

  root {{ document_root }}/{{ app_root }};
  index group-reg.php;

  server_name {{ server_name }};

  location ~ \.php$ {
        include fastcgi_params;
        include fastcgi.conf;
        fastcgi_pass php2:9000;
  }
  
  location / {
   default_type "text/html";
   try_files $uri.html $uri $uri/ =404;
  }
}
