[Unit]
Description="Borg Backup"

[Service]
Type=oneshot
Environment="BORG_PASSPHRASE=p1234567"
Environment="REPO=borg@192.168.57.160:/var/backup/"
Environment="BACKUP_TARGET=/etc"
ExecStart=/bin/borg create --stats ${REPO}::etc-{now:%%Y-%%m-%%d_%%H:%%M:%%S} ${BACKUP_TARGET}
ExecStart=/bin/borg check ${REPO}
ExecStart=/bin/borg prune --keep-daily 90 --keep-monthly 12 --keep-yearly 1 ${REPO}
StandardOutput=journal
StandardError=journal
SyslogIdentifier=borg
