# This file controls the audispd data path to the
# remote event logger. This plugin will send events to
# a remote machine (Central Logger).

active = {{ active }}
direction = out
path = /sbin/audisp-remote
type = always
format = string

