STOP SLAVE;
DROP DATABASE IF EXISTS bet;
RESET MASTER;
CHANGE MASTER TO MASTER_AUTO_POSITION = 0;
SOURCE /tmp/master-database.sql
USE bet;
CHANGE MASTER TO MASTER_HOST = "192.168.57.150", MASTER_PORT = 3306,
MASTER_USER = "repl", MASTER_PASSWORD = "{{ rep_password }}", MASTER_AUTO_POSITION = 1;
START SLAVE;

